<style>
  p,
  li {
    font: "Fira Sans", sans-serif;
  }

  button {
    width: 58px;
    height: 28px;
    margin-top: 2px;
  }

  #filtersDiv {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
  }
  #filtersDiv > img {
    cursor: pointer;
  }
  #filtersDiv > img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

  .ul-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50%;
    margin-top: 2%;
    gap: 8px;
    /* border: 0.2px solid indigo; */
    padding: 6px;
  }

  .greyP {
    font-size: smaller;
    font-weight: 400;
  }

  #imgDiv {
    width: 74px;
    height: 74px;
    background-color: teal;
    border-radius: 12px;
  }
  #joinBtn {
    background-color: green;
    color: white;
    border-radius: 6px;
    font-size: small;
    cursor: pointer;
  }
  #joinButton {
    background-color: green;
    color: white;
    border-radius: 6px;
    font-size: small;
    cursor: pointer;
  }
  #refuseBtn {
    background-color: red;
    color: white;
    border-radius: 6px;
    font-size: small;
    cursor: not-allowed;
  }
  #rejectBtn {
    background-color: red;
    color: white;
    border-radius: 6px;
    font-size: small;
    cursor: not-allowed;
  }
  #rowDiv {
    text-wrap: nowrap;
  }
  /* #rowDiv > p {
    font-size: 14px;
    font-weight: bold;
  } */

  .sectionDiv {
    max-height: 480px;
    width: 100%;
    margin-top: 1rem;
    overflow: auto;
    /* border: 1px solid lightgreen; */
    border-radius: 8px;
    padding: 6px;
  }

  /* Modal Backdrop */
  #meeting-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  /* Modal Content */
  #meeting-modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    /* max-width: 600px;
    width: 90%; */
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  /* Responsive iframe container */
  .modal-video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 8px;
  }

  .modal-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Close button */
  #meeting-modal-content button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* margin-top: 1rem; */
    background: #ad070f;
    color: white;
    border: none;
    /* padding: 0.6rem 1rem; */
    border-radius: 5px;
    cursor: pointer;
  }

  #meeting-modal-content button:hover {
    background: #351515;
  }

  @media screen and (max-width: 450px) {
    #rowDiv > p {
      font-size: 12px;
      font-weight: 600;
      text-wrap: wrap;
    }
    button {
      width: 48px;
      height: 24px;
      margin-top: 2px;
    }
    #filtersDiv {
      display: flex;
      flex-direction: row;
      margin-top: 25%;
    }
  }
</style>

<!-- <h1 class="text-2xl mt-5">My Meets ✅</h1> -->
<% if (meetings) { %>

<div id="filtersDiv">
  <img
    src="../../assets/images/down-arrow.svg"
    alt="down arrow"
    width="20"
    height="20"
    onclick="window.alert('Filter down..')"
  />
  <img
    src="../../assets/images/up-arrow.svg"
    alt="up arrow"
    width="20"
    height="20"
    onclick="window.alert('Filter up..')"
  />
</div>
<div class="sectionDiv">
  <ul>
    <% meetings.forEach(meeting => { %>
    <li id="open" class="ul-container">
      <div id="imgDiv">
        <img
          src="<%= meeting.crushphoto %>"
          alt="<%= meeting.participants[0] %>"
          loading="lazy"
          onerror="this.src='../../assets/images/placeholder_pic.jpg';"
          width="74px"
          height="74px"
        />
      </div>
      <div id="rowDiv">
        <p style="font-weight: 500">
          Meet with
          <a
            href="#"
            class="meeting-req underline text-green-700 font-semibold"
            data-reqmodalcrushphoto="<%= meeting.crushphoto %>"
            data-reqmodalparticipant="<%= meeting.participants[0] %>"
            ><%= meeting.participants[0] %></a
          >
        </p>
        <p class="greyP">
          <%= meeting.meetingDay.toDateString() %> for <%= meeting.duration %>
          minutes ✅
        </p>
        <p class="greyP">Room ID: <%= meeting.roomId %></p>
        <!-- <p><%= meeting.roomId %> • <%= meeting.meetingDay.toDateString() %></p>
        <p><%= meeting.duration %> • <%= meeting.participants[0] %></p> -->
        <button
          id="joinButton"
          class="meeting-item"
          data-roomid="<%= meeting.roomId %>"
          data-date="<%= meeting.meetingDay.toDateString() %>"
          data-duration="<%= meeting.duration %>"
          data-participant="<%= meeting.participants[0] %>"
          data-crushphoto="<%= meeting.crushphoto %>"
          data-env="<%= meeting.environment %>"
        >
          Join
        </button>
        <button id="rejectBtn">Reject</button>
      </div>
    </li>
    <% }) %>
  </ul>
</div>

<% } else { %>
<p>You have no meetings to show, for now.</p>
<% } %>

<!--iFrame Modal -->
<div id="meeting-modal">
  <div id="meeting-modal-content">
    <!-- <img id="modal-crushphoto" />
    <h3 id="modal-participant"></h3>
    <p id="modal-date"></p>
    <p id="modal-roomid"></p> -->
    <p
      id="modal-duration"
      style="
        position: absolute;
        top: 2%;
        left: 2%;
        font-size: xx-large;
        font-weight: bold;
        color: green;
        z-index: 99;
      "
    ></p>
    <div class="modal-video-container">
      <!-- <p id="modal-env"></p> -->
      <!-- <iframe
        id="modal-env"
        src="https://www.youtube.com/embed/gY6-vlnbaSU?si=UW4qVc3LfkG8b6hI"
        class="w-full h-full border-none bg-gray-300"
        frameborder="0"
        allow="fullscreen;microphone;autoplay;xr-spatial-tracking"
      ></iframe> -->
      <iframe
        id="modal-env"
        class="w-full h-full border-none bg-gray-300"
        frameborder="0"
        allow="fullscreen;microphone;autoplay;xr-spatial-tracking"
      ></iframe>
      <!-- <p
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-3 text-indigo-600 text-2xl"
      id="initFrame"
    >
      Initializing...
    </p> -->
    </div>
    <button onclick="window.closeIFrameModal()">Exit</button>
  </div>
</div>

<!--Requester Modal-->
<div
  id="reqModal"
  class="fixed inset-0 hidden bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white max-w-sm max-h-max p-4 mt-14 place-self-center relative">
    <button
      onclick="window.closeRequesterModal()"
      class="absolute top-4 right-4 bg-gray-300 px-3 py-1 rounded"
    >
      Close
    </button>
    <img id="reqmodalcrushphoto" />
    <h3 id="reqmodalparticipant"></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem harum,
      velit possimus repudiandae officia debitis illo incidunt, vero eveniet
      fugit soluta dolorem labore ipsa. Officia aliquam ullam eius maxime
      fugiat?
    </p>
  </div>
</div>

<script src="https://cdn.tailwindcss.com"></script>
<!-- <script type="importmap">
  {
    "imports": {
      "socket.io-client": "https://cdn.socket.io/4.8.1/socket.io.esm.min.js"
    }
  }
</script> -->
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>

<script>
  let socket,
    roomIdentity = null;
  const playerPlus = [];

  document.querySelectorAll(".meeting-item").forEach((item) => {
    item.addEventListener("click", () => {
      // document.getElementById("modal-crushphoto").src = item.dataset.crushphoto;
      // document.getElementById("modal-date").innerText = item.dataset.date;
      // document.getElementById("modal-participant").innerText =
      //   item.dataset.participant;
      document.getElementById("modal-duration").innerText =
        item.dataset.duration;
      document.getElementById("modal-env").src = item.dataset.env;
      //  document.getElementById("modal-env").innerText = item.dataset.env;
      document.getElementById("meeting-modal").style.display = "block";

      // initialize socket io
      socket = io("http://localhost:3003");
      socket.emit("duration", item.dataset.duration);

      socket.on("playerJoined", (data) => {
        if (!playerPlus.includes(data.id)) {
          playerPlus.push(data.id);
        }
        console.log("playerPlus ", playerPlus);
      });
      socket.on("joinRoomError", (msg) => {
        console.log(msg);
        return;
      });
      socket.on("timer", (time) => {
        document.getElementById("modal-duration").textContent = time;
        if (time <= 3) {
          document.getElementById("modal-duration").style.color = "#FF0000";
        }
        if (time === 0) {
          socket.disconnect();
          window.closeIFrameModal();
        }
      });
      socket.on("disconnectNotice", (msg) => {
        window.alert(msg);
      });
    }); // socket zone
  });

  document.querySelectorAll(".meeting-req").forEach((item) => {
    item.addEventListener("click", () => {
      document.getElementById("reqmodalcrushphoto").src =
        item.dataset.reqmodalcrushphoto;
      document.getElementById("reqmodalparticipant").innerText =
        item.dataset.reqmodalparticipant;
      document.getElementById("reqModal").style.display = "block";
    });
  });

  function closeIFrameModal() {
    for (let i = 0; i < playerPlus.length; i++) {
      if (playerPlus[i] !== socket.id) {
        socket.emit("closeModal", playerPlus[i]);
        document.getElementById("meeting-modal").style.display = "none";
        //  document.getElementById("modal-video").src = ""; // Reset video on close
        console.log("closeModal fired on ", playerPlus[i]);
        socket.disconnect();
        window.location.assign("/");
      }
    }
    //document.getElementById("meeting-modal").style.display = "none";
    // document.getElementById('modal-video').src = ''; // Reset video on close
  }
  window.closeIFrameModal = closeIFrameModal;

  function closeRequesterModal() {
    document.getElementById("reqModal").style.display = "none";
  }
  window.closeRequesterModal = closeRequesterModal;
</script>
