<button
  style="
    cursor: pointer;
    width: 80px;
    height: 40px;
    border-radius: 12px;
    background-color: teal;
    color: white;
  "
  onclick="window.location.assign('/')"
>
  Home
</button>
<h1>Submission successful!</h1>
<p>Environment: <%= environment %></p>
<p>Duration: <%= expires %></p>
<p>Target: <%= crush %></p>
<p>Sender: <%= thisUser %></p>
<p>Room: <%= roomId %></p>

<p>Date: <%= now %></p>
<p>Start: <%= start_time %></p>
<p>End: <%= end_time %></p>
